.sidebar-link {
  display: block;
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding-left: 22px;
}

.active-link {
  background-color: white;
  color: #198754 !important;
  font-weight: bold;
}

/* PAGE TRANSITION */

.page-transition {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.card {
  transition: all 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}